.m-0 {
    margin: 0 !important;
}

.w-100 {
  width: 100%;
}

.title {
    font-size: 6rem;
    color: black;
}

.v-btn{
    /* Rewrites vuetify class */
    margin:10px;
}

  .piaf-icon-unavailable {
    border: solid 2px green;
  }
  .piaf-icon-remplacement {
    border: solid 2px orange;
  }